<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901468707772-1vf2ili8d29t6n133qjd631rbose234b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901468707772-1vf2ili8d29t6n133qjd631rbose234b</string>
	<key>API_KEY</key>
	<string>AIzaSyDgGGCwkNeSG5sVlChxSh6mez9TOY6TW-A</string>
	<key>GCM_SENDER_ID</key>
	<string>901468707772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jerann.flutter-journal-demo</string>
	<key>PROJECT_ID</key>
	<string>flutterjournaldemo</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterjournaldemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901468707772:ios:307c83f50b456d228a29b9</string>
	<key>DATABASE_URL</key>
	<string>https://flutterjournaldemo.firebaseio.com</string>
</dict>
</plist>